@import "tailwindcss";
* {
  font-feature-settings: "case";
}
@font-face {
  font-family: F_Bruno;
  src: url("./fonts/bruno-ace/BrunoAce-Regular.ttf");
}
@font-face {
  font-family: F_Tkt_Regular;
  src: url("./fonts/tkt-geo/OnService-Regular.woff2");
}
@font-face {
  font-family: F_Tkt_Bold;
  src: url("./fonts/tkt-geo/OnService-Bold.woff2");
}

@theme {
  --color-var-red: #ff204e;
  --color-var-gray: #bfbfbf;
  --color-var-white: #fff;
  --color-var-card: #171717;
  --color-var-green: #00ed6b;
  --color-var-border: rgba(255, 255, 255, 0.1);
  --color-var-card-images: linear-gradient(
    180deg,
    rgba(255, 32, 78, 0) 0%,
    var(--color-var-red) 400%
  );
}
body {
  background-color: black;
}
.F_bruno_regular {
  font-family: F_Bruno;
}
.F_tkt_regular {
  font-family: FBruno;
}
.myContainer {
  width: 90%;
  margin: auto;
}
.card-images {
  background: var(--color-var-card-images);
}
