@import "tailwindcss";
@theme {
  --color-bodybg: #0e0e0e;
  --color-bodybg-70: #0e0e0ea6;
  --color-bodybg-40: #0e0e0e75;
  --color-main: #ff204e;
  --color-main-clear: rgba(255, 32, 77, 0.1);
  --color-main-clear-hover: rgba(255, 32, 77, 0.15);
  --color-yellow-clear: rgba(255, 166, 32, 0.1);
  --color-var-red: #ff204e;
  --color-var-gray: #bfbfbf;
  --color-var-white: #fff;
  --color-var-card: #171717;
  --color-var-card-hover: #1b1b1b;
  --color-var-green: #00ed6b;
  --color-var-yellow: #ffb820;

  --color-comments-bg: #141414;
  --color-comments-border: rgba(255, 255, 255, 0.05);
  --color-comment-bg: #1a1a1a;
  --color-comment-profile: #242424;

  --color-button-like: #181818;
  --color-button-like-hover: #222222;

  --color-button-hover: rgba(255, 255, 255, 0.05);
  --color-head: rgba(255, 255, 255, 0.9);
  --color-head2: rgba(255, 255, 255, 0.7);
  --color-desc: rgba(222, 222, 222, 0.5);
  --color-desc2: rgba(222, 222, 222, 0.4);
  --color-desc-h: rgba(222, 222, 222, 0.6);
  --color-var-border: rgba(255, 255, 255, 0.1);
  --font-bruno: "F_Bruno", sans-serif;
  --font-tkt-regular: "F_Tkt_Regular";
  --font-tkt-medium: "F_Tkt_Medium";
  --font-tkt-semibold: "F_Tkt_SemiBold";
  --font-tkt-bold: "F_Tkt_Bold";
  --color-var-card-images: linear-gradient(
    180deg,
    rgba(255, 32, 78, 0) 0%,
    var(--color-var-red) 400%
  );
}
@font-face {
  font-family: F_Bruno;
  src: url("./fonts/bruno-ace/BrunoAce-Regular.ttf");
}
@font-face {
  font-family: F_Tkt_Regular;
  src: url("./fonts/tkt-geo/OnService-Regular.woff2");
}
@font-face {
  font-family: F_Tkt_Medium;
  src: url("./fonts/tkt-geo/OnService-Medium.woff2");
}
@font-face {
  font-family: F_Tkt_SemiBold;
  src: url("./fonts/tkt-geo/OnService-SemiBold.woff2");
}
@font-face {
  font-family: F_Tkt_Bold;
  src: url("./fonts/tkt-geo/OnService-Bold.woff2");
}
*::selection {
  color: var(--color-head);
  background: var(--color-main);
}
*::-webkit-scrollbar {
  width: 6px;
  background: var(--color-bodybg);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-main);
}

body {
  background-color: var(--color-bodybg);
  font-feature-settings: "case";
  font-family: var(--font-tkt-medium);
  letter-spacing: 0.5px;
}

.myContainer {
  width: 90%;
  margin: auto;
}
.card-images {
  background: var(--color-var-card-images);
}
.nav_link_hover::before {
  content: "";
  background-color: var(--color-main);
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.nav_link_hover:hover::before {
  transform: scaleX(1);
}
.shadow_down::before {
  content: "";
  background: linear-gradient(
    to bottom,
    var(--color-bodybg-40),
    var(--color-bodybg-70),
    var(--color-bodybg)
  );
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
